* {
    margin: 0;
    padding: 0;
    font-family: "Titillium", sans-serif;
}
body {
    background: linear-gradient(to top, red, blue);
    font-size: 10px;
}
#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
}
.container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
header {
  text-align: center;
  margin: 40px;
  opacity: 30%;
}
.foot {
    text-align: center;
    margin: 19px;
    opacity: 30%; 
}
.form {
    padding: 10px;
   background-color: #F4F4F4;
   border: 10px solid rgba(0, 0, 0, 0.205);
   background-clip: padding-box;
   margin: 10px;
}
.hoch {
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    font-weight: 500;
    filter: drop-shadow(1px 1.732px 1px rgba(43,1,0,0.75));
}
.b1 {
    padding: 10px;
    margin: 10px;
    width: 349px;
    height: 48px;
    border-radius: 3px;
    filter: drop-shadow(0.5px 0.866px 0px #ffffff);
    background-image: linear-gradient(0deg, #7cc01e 0%, #a3d741 100%);
    border: 1px solid #3b9a00;
}
.b2 {
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    width: 148px;
    height: 41px;
    border-radius: 3px;
    filter: drop-shadow(0.5px 0.866px 0px #ffffff);
    background-image: linear-gradient(0deg, #7cc01e 0%, #a3d741 100%);
    border: 1px solid #3b9a00;
}
.b3 {
    padding: 10px;
    margin: 10px;
    width: 148px;
    height: 41px;
    border-radius: 3px;
    filter: drop-shadow(0.5px 0.866px 0px #ffffff);
    background-image: linear-gradient(0deg, #a9cf80 0%, #c6e1a7 100%);
    border: 1px solid #90ca6d;
}
.b4 {
    margin: 10px;
    padding: 10px;
    width: 148px;
    height: 41px;
    border-radius: 3px;
    filter: drop-shadow(0.5px 0.866px 0px #ffffff);
    background-image: linear-gradient(0deg, #ee3645 0%, #f55f71 100%);
    border: 1px solid #a2202a;
}
.sign {
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    filter: drop-shadow(0.559px 0.829px 0px #51850e); 
}
.sign1 {
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    filter: drop-shadow(0.559px 0.829px 0px #51850e); 
}
[class^="icon"] {
    filter: drop-shadow(1px 1.732px 0px #ffffff);
    background-image: linear-gradient(0deg, #f4f4f4 0%, #f8f8f8 100%);
    border-right: 1px solid #c6c6c6;
    font-size: 35px;
    color: #dedede;
}
.c1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    width: 338px;
    height: 36px;
    border-radius: 1px;
    filter: drop-shadow(1px 1.732px 0px #ffffff);
    background-image: linear-gradient(0deg, #f4f4f4 0%, #f8f8f8 100%);
    border: 1px solid #c6c6c6;
}
input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #afafaf;
    font-weight: 300;
    border: 0px;
    background-image: linear-gradient(0deg, #f4f4f4 0%, #f8f8f8 100%);
}
.check input {
    display: none;
}
.check {
    height: 30px;
    display: block;
    padding: 5px;
    
}
.fakecheck {
    position: relative;
    padding-left: 50px;
    font-size: 15px;
    padding-bottom: 20px;
}
.fakecheck:before {
    content: "";
    background: rgb(250, 250, 250);
    display: block;
    position: absolute;
    left: -4px;
    margin: 9px;
    width: 23px;
    height: 23px;
    border-radius: 3px;
    filter: drop-shadow(1px 1.732px 0px #ffffff);
    background-image: linear-gradient(0deg, #f4f4f4 0%, #f8f8f8 100%);
    border: 1px solid #c6c6c6;
    top: 5%;
    transform: translateY(-70%);
}
.fakecheck::after {
    border: 1px solid grey;
    content: "";
    position: absolute;
    top: -2px;
    left: 10px;
    width: 13px;
    height: 13px;
    border-radius: 3px;
    background-image: linear-gradient(0deg, #71b80d 0%, #9ad123 100%); 
    display: none;
}
.check input:checked + .fakecheck::after{
    display: block;
}
textarea {
    resize: none;
    height: 80px;
}
.c1-textarea {
    height: 80px;
}